body {
  background-color: #50C878;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

#header, #footer, #scoreBox, #scoreTitle {
  font-family: 'Pixelify Sans', sans-serif;
}

#header, #footer {
  color: aliceblue;
  background-color: #00A36C;
  padding: 12px;
}

#header {
  font-weight: bold;
  font-size: 48px;
  border-bottom: 4px solid whitesmoke;
}

#footer {
  font-size: 20px;
  border-top: 4px solid whitesmoke;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#instructions1, #instructions2, #roundEndMsg, #gameEndMsg {
  font-family: 'VT323', monospace;
  color: black;
  font-size: 24px;
  margin-top: 8px;
}

#instructions1 {
  margin-top: 20px;
}

#scoreTitle {
  font-weight: bold;
  font-size: 32px;
  color: aliceblue;
  margin-top: 28px;
}

#scoreBox {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
  font-size: 32px;
  color: aliceblue;
}

.scoreContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.score {
  border: 3px solid aliceblue;
  padding: 0 8px;
  font-family: 'VT323', monospace;
  font-size: 40px;
}

#buttonBox {
  margin: 48px 80px 0;
  display: flex;
  justify-content: center;
  gap: 120px;
}

.hover:hover {
  transform: translate(0, -12px)
}

img {
  image-rendering: pixelated;
  height: auto;
  width: 160px;
  transition: transform 250ms ease-in-out;
}

#roundEndMsg {
  margin-top: 48px;
}

.restartBtn {
  border: 3px solid black;
  font-family: 'VT323', monospace;
  margin: 32px auto 16px;
  font-size: 24px;
  padding: 4px 12px;
  background-color: white;
  color: black;
  transition: 100ms ease-in-out;
}

.restartBtn:hover {
  background-color: darkgray;
}